pug/about.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'關於本所'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 ABOUT US
                    .page-side
                        h3 國立臺灣藝術大學 電影學系
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .edit-area
                            p.def 國立台灣藝術大學電影學系是國內最具電影人文與歷史傳承、孕育台灣當代電影大師的學術機構。本系傑出校友侯孝賢導演與李安導演立足於國際影壇，藝術聲譽卓越，不僅是台灣電影在國際影壇發光發熱的最佳代言人，獲得無數世界一級影展之桂冠與殊榮，更引領了當代的電影人文美學思潮、樹立了極致的導演藝術典範，持續對一整個世代的電影人發揮巨大的影響力。 
                            p.def 電影學系自成立以來，秉持人文教育與電影職能訓練並重的理念，提供嚴謹的電影創作實務學習課程，協助學生透視電影語言，促進藝術表達能力與團隊合作精神，強調電影製作技術與電影學術研究的全方位提昇。 
                            p.def 電影學系課程兼顧理論領域與創作領域，一方面著重本系學生影像文化思辨能力的養成，另一方面，電影學系的教學目標更著力於電影創作、音像技術、導演實務、影視媒體新科技之引介，以符合影視產業就業之所需。
                            p.def 為了開拓國際視野，電影學系近年來配合台北市縣電影節及各國文化中心，規劃一系列影展活動，其中「國際學生影展金獅獎」已在全世界重要的國際學生影展中聲譽鵲起，成為各國電影教學機構學生作品送展之重要選擇，逐漸與國際電影製作發展的趨勢相互接軌。 
                            p.def 除了大學部課程之外，為因應國際影像生產與製作之趨勢、培育電影藝術與新興科技整合與應用之人才，本系奉教育部核定於民國九十四年成立研究所碩士班，提供有志於電影創作與深化電影導演實務的藝術人才繼續深造的機會，以取得藝術碩士（ＭＦＡ）學位。 
                            img(src="img/about_img.jpg", alt="")
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer

public/about.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><span>關於本所</span></div></div><div class="main-cont"><div class="page-group"><h2>ABOUT US</h2><div class="page-side"><h3>國立臺灣藝術大學 電影學系</h3><div class="circle-txt"><img src="img/bg_img.svg" alt=""/></div></div><div class="page-cont"><div class="edit-area"><p class="def">國立台灣藝術大學電影學系是國內最具電影人文與歷史傳承、孕育台灣當代電影大師的學術機構。本系傑出校友侯孝賢導演與李安導演立足於國際影壇，藝術聲譽卓越，不僅是台灣電影在國際影壇發光發熱的最佳代言人，獲得無數世界一級影展之桂冠與殊榮，更引領了當代的電影人文美學思潮、樹立了極致的導演藝術典範，持續對一整個世代的電影人發揮巨大的影響力。 </p><p class="def">電影學系自成立以來，秉持人文教育與電影職能訓練並重的理念，提供嚴謹的電影創作實務學習課程，協助學生透視電影語言，促進藝術表達能力與團隊合作精神，強調電影製作技術與電影學術研究的全方位提昇。 </p><p class="def">電影學系課程兼顧理論領域與創作領域，一方面著重本系學生影像文化思辨能力的養成，另一方面，電影學系的教學目標更著力於電影創作、音像技術、導演實務、影視媒體新科技之引介，以符合影視產業就業之所需。</p><p class="def">為了開拓國際視野，電影學系近年來配合台北市縣電影節及各國文化中心，規劃一系列影展活動，其中「國際學生影展金獅獎」已在全世界重要的國際學生影展中聲譽鵲起，成為各國電影教學機構學生作品送展之重要選擇，逐漸與國際電影製作發展的趨勢相互接軌。 </p><p class="def">除了大學部課程之外，為因應國際影像生產與製作之趨勢、培育電影藝術與新興科技整合與應用之人才，本系奉教育部核定於民國九十四年成立研究所碩士班，提供有志於電影創作與深化電影導演實務的藝術人才繼續深造的機會，以取得藝術碩士（ＭＦＡ）學位。 </p><img src="img/about_img.jpg" alt=""/></div></div></div><div class="page-btn-area"><div class="page-btn-box"></div><div class="page-btn-box"><div class="page-btn" id="goTop"><div class="icon"><i class="fal fa-arrow-up"></i></div><span>TOP</span></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html>
