public/equipment_list.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="equ-video-lg-area" id="equVideoArea"><div class="equ-video-cont"><div class="equ-video-box"><div class="lg-close"></div><iframe src="https://www.youtube.com/embed/E8DC5mxEx0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><span>空間設備 - 器材設備</span></div></div><div class="main-cont"><div class="page-group"><h2>EQUIPMENT</h2><div class="page-side"><h3>空間設備</h3><div class="page-side-nav-area"><div class="page-side-nav"><a href="social_list.html">交誼空間</a></div><div class="page-side-nav"><a href="professional_list.html">專業空間</a></div><div class="page-side-nav act"><a href="equipment_list.html">器材設備</a></div></div></div><div class="page-cont equ-list-page-cont"><div class="equ-list-area"><div class="equ-list-box"><div class="num">01</div><div class="equ-list-img-box fade-area"><div class="fade-img-cont"><img src="img/equ01.jpg" alt=""/><div class="fade-cont"><div class="fade-box"><img src="img/equ01.jpg" alt=""/></div><div class="fade-box"><img src="img/equ02.jpg" alt=""/></div><div class="fade-box"><img src="img/equ03.jpg" alt=""/></div><div class="fade-box"><img src="img/equ04.jpg" alt=""/></div></div></div></div><div class="equ-list-cont"><div class="tit"><span>燈光類－HMI系列燈具</span><div class="icon"><img src="img/icon_more.png" alt=""/></div></div><div class="txt">HMI燈的亮度是傳統白熾燈的4倍，可用來照亮大範圍場域，其色溫約5500K至6000K，光線呈藍白色，適合模擬直射的太陽。</div></div></div><div class="equ-list-box"><div class="num">02</div><div class="equ-list-img-box fade-area"><div class="fade-img-cont"><img src="img/equ02.jpg" alt=""/><div class="fade-cont"><div class="fade-box"><img src="img/equ01.jpg" alt=""/></div><div class="fade-box"><img src="img/equ02.jpg" alt=""/></div><div class="fade-box"><img src="img/equ03.jpg" alt=""/></div><div class="fade-box"><img src="img/equ04.jpg" alt=""/></div></div></div></div><div class="equ-list-cont"><div class="tit"><span>攝影類－底片攝影機</span><div class="icon"><img src="img/icon_more.png" alt=""/></div></div><div class="txt">電影系目前仍保持底片拍攝傳統，大一課程拍攝Bolex作業，大二上課程採用SR3完成，兩者均為16MM底片攝影機。</div></div></div><div class="equ-list-box"><div class="num">03</div><div class="equ-list-img-box fade-area"><div class="fade-img-cont"><img src="img/equ03.jpg" alt=""/><div class="fade-cont"><div class="fade-box"><img src="img/equ01.jpg" alt=""/></div><div class="fade-box"><img src="img/equ02.jpg" alt=""/></div><div class="fade-box"><img src="img/equ03.jpg" alt=""/></div><div class="fade-box"><img src="img/equ04.jpg" alt=""/></div></div></div></div><div class="equ-list-cont"><div class="tit"><span>攝影類－數位攝影機</span><div class="icon"><img src="img/icon_more.png" alt=""/></div></div><div class="txt">RED EPIC-W此款攝影機擁有緊湊且設計直觀的 DSMC2™ 系統和全新的 HELIUM™ 8K S35 傳感器。</div></div></div><div class="equ-list-box"><div class="num">04</div><div class="equ-list-img-box fade-area"><div class="fade-img-cont"><img src="img/equ04.jpg" alt=""/><div class="fade-cont"><div class="fade-box"><img src="img/equ01.jpg" alt=""/></div><div class="fade-box"><img src="img/equ02.jpg" alt=""/></div><div class="fade-box"><img src="img/equ03.jpg" alt=""/></div><div class="fade-box"><img src="img/equ04.jpg" alt=""/></div></div></div></div><div class="equ-list-cont"><div class="tit"><span>錄音類－Sound Devices</span><div class="icon"><img src="img/icon_more.png" alt=""/></div></div><div class="txt">搭配使用的麥克風有Sennheiser MKH-416或Rode NTG3，無線麥克風為Sony UWP-V1。</div></div></div><div class="equ-list-box"><div class="num">05</div><div class="equ-list-img-box equ-video"><img src="http://img.youtube.com/vi/E8DC5mxEx0c/maxresdefault.jpg" alt=""/></div><div class="equ-list-cont"><div class="tit"><span>錄音類－Sound Devices</span><div class="icon"><img src="img/icon_more.png" alt=""/></div></div><div class="txt">搭配使用的麥克風有Sennheiser MKH-416或Rode NTG3，無線麥克風為Sony UWP-V1。</div></div></div></div></div></div><div class="page-btn-area"><div class="page-btn-box"></div><div class="page-btn-box"><div class="page-btn" id="goTop"><div class="icon"><i class="fal fa-arrow-up"></i></div><span>TOP</span></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html><script>$(document).ready(function(){
    $('.equ-video').on('click',function(){
        $('#equVideoArea').fadeIn(500);
    });
    $('.lg-close').on('click',function(){
        $('#equVideoArea').fadeOut(500);
    });
});</script>

pug/equipment_list.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .equ-video-lg-area#equVideoArea
            .equ-video-cont
                .equ-video-box
                    .lg-close
                    iframe(src="https://www.youtube.com/embed/E8DC5mxEx0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen")
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'空間設備 - 器材設備'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 EQUIPMENT
                    .page-side
                        h3 空間設備
                        -const pageSideNav=[{'name':'交誼空間','link':'social_list.html'},{'name':'專業空間','link':'professional_list.html'},{'name':'器材設備','link':'equipment_list.html','isAct':true}];
                        +pageSideNavArea(pageSideNav)
                    .page-cont.equ-list-page-cont
                        .equ-list-area
                            -const equ01={'num':'01','img':'equ01.jpg','tit':'燈光類－HMI系列燈具','txt':'HMI燈的亮度是傳統白熾燈的4倍，可用來照亮大範圍場域，其色溫約5500K至6000K，光線呈藍白色，適合模擬直射的太陽。'}
                            +equListBox(equ01)
                            -const equ02={'num':'02','img':'equ02.jpg','tit':'攝影類－底片攝影機','txt':'電影系目前仍保持底片拍攝傳統，大一課程拍攝Bolex作業，大二上課程採用SR3完成，兩者均為16MM底片攝影機。'}
                            +equListBox(equ02)
                            -const equ03={'num':'03','img':'equ03.jpg','tit':'攝影類－數位攝影機','txt':'RED EPIC-W此款攝影機擁有緊湊且設計直觀的 DSMC2™ 系統和全新的 HELIUM™ 8K S35 傳感器。'}
                            +equListBox(equ03)
                            -const equ04={'num':'04','img':'equ04.jpg','tit':'錄音類－Sound Devices','txt':'搭配使用的麥克風有Sennheiser MKH-416或Rode NTG3，無線麥克風為Sony UWP-V1。'}
                            +equListBox(equ04)
                            -const equ05={'num':'05','img':'E8DC5mxEx0c','tit':'錄音類－Sound Devices','txt':'搭配使用的麥克風有Sennheiser MKH-416或Rode NTG3，無線麥克風為Sony UWP-V1。'}
                            +equListVideo(equ05)
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer
script.
    $(document).ready(function(){
        $('.equ-video').on('click',function(){
            $('#equVideoArea').fadeIn(500);
        });
        $('.lg-close').on('click',function(){
            $('#equVideoArea').fadeOut(500);
        });
    });
