public/movies.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><span>百大影片</span></div></div><div class="main-cont"><div class="page-group"><h2>100 MOVIES</h2><div class="page-side"><h3>百大影片</h3><div class="circle-txt"><img src="img/bg_img.svg" alt=""/></div></div><div class="page-cont"><div class="edit-area"><p class="def">要完成電影系學業並不簡單，除要了解各國電影脈絡發展、導演風格與手法，電影系的學生還要能寫劇本、化妝、下海當演員，以成為獨當一面的導演為目標。</p><p class="def">大四畢業前看完影史華語百大片和外語百大片。系所每年會定期舉辦考試，大二學生以上都可以去抽考，教授會抽點其中片單，詢問學生對電影的看法，如果在大四畢業前，沒有通過這項考試，就可能延畢，來年請早！</p><p class="def">這份百大電影名單是電影系所教授所評選，片單無關影史排名，但種類包羅萬象，如新浪潮、表現主義…等電影風潮、重要導演風格，期盼學生看電影中，了解這部電影對影史與世界的重要意義。</p><p class="def">該校電影系助教受訪時表示，200部片單乍看頗多，但事實上，學生反應都很良好，很多片子雖然在外面不容易找到，但學生可在系所內租借，有些學生在大二前早完成目標，興沖沖地找老師「考試去」！「多看電影，特別是好的電影，都能從中獲得想法和啟發！」畢業多年的校友黃先生回想起系上的百大片單規定，一開始也覺得是不可能的任務，但電影真的是越看越迷人。  </p><img src="img/movies_img.jpg" alt=""/></div><div class="download-area"><div class="tit">檔案下載</div><ul class="download-list"><li><a href="###"><span>外語百大影片(100部).pdf</span></a></li><li><a href="###"><span>華語百大影片(50部).pdf</span></a></li></ul></div></div></div><div class="page-btn-area"><div class="page-btn-box"></div><div class="page-btn-box"><div class="page-btn" id="goTop"><div class="icon"><i class="fal fa-arrow-up"></i></div><span>TOP</span></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html>

pug/movies.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'百大影片'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 100 MOVIES
                    .page-side
                        h3 百大影片
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .edit-area
                            p.def 要完成電影系學業並不簡單，除要了解各國電影脈絡發展、導演風格與手法，電影系的學生還要能寫劇本、化妝、下海當演員，以成為獨當一面的導演為目標。
                            p.def 大四畢業前看完影史華語百大片和外語百大片。系所每年會定期舉辦考試，大二學生以上都可以去抽考，教授會抽點其中片單，詢問學生對電影的看法，如果在大四畢業前，沒有通過這項考試，就可能延畢，來年請早！
                            p.def 這份百大電影名單是電影系所教授所評選，片單無關影史排名，但種類包羅萬象，如新浪潮、表現主義…等電影風潮、重要導演風格，期盼學生看電影中，了解這部電影對影史與世界的重要意義。
                            p.def 該校電影系助教受訪時表示，200部片單乍看頗多，但事實上，學生反應都很良好，很多片子雖然在外面不容易找到，但學生可在系所內租借，有些學生在大二前早完成目標，興沖沖地找老師「考試去」！「多看電影，特別是好的電影，都能從中獲得想法和啟發！」畢業多年的校友黃先生回想起系上的百大片單規定，一開始也覺得是不可能的任務，但電影真的是越看越迷人。  
                            img(src="img/movies_img.jpg", alt="")
                        -const downloadData=['外語百大影片(100部).pdf','華語百大影片(50部).pdf']
                        +downloadArea(downloadData)
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer
