public/news_cont.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><a href="news_list.html">系所公告</a><i class="fal fa-chevron-down"></i><span>【競賽資訊】2022第六屆台北金鵰微電影展</span></div></div><div class="main-cont"><div class="news-cont-area"><div class="news-main-area"><div class="news-main-cont"><div class="news-cont news-tit-cont"><div class="tit">【競賽資訊】2022第六屆台北金鵰微電影展</div><div class="date">2021.10.20</div></div><div class="news-banner"><img src="img/cont_pic.jpg" alt=""/></div><div class="news-cont"><div class="edit-area"><p class="def">▶ 影展宗旨<br>國際間的永續發展思潮不斷推進，永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Development Goals, SDGs）；為使大眾能更易理解組織永續成果，以嶄新、視覺化的方式以微電影的形式，呈現組織致力於SDGs之作為，特舉辦此微電影展。 </p><p class="def">▶ 活動對象<br>全球政府單位、公司、企業、大學、NPO（非營利組織）等單位組織。</p><p class="def">▶ 獎項介紹<br>本屆將評選出年度十大永續微電影，並從十大永續微電影之作品中，遴選出「年度最佳影片」、「最佳社會共融」、「最佳經營治理」、「最佳環境資源」四項最佳獎項，於頒獎典禮上公布獎項結果。</p><p class="def">▶ 聯絡人<br>張先生 02-2747-4932#301 / giftchang@taise.org.tw</p></div><div class="download-area"><div class="tit">檔案下載</div><ul class="download-list"><li><a href="###"><span>「2022第六屆台北金鵰微電影展」徵件簡章.zip</span></a></li></ul></div></div></div></div><div class="news-side"><div class="news-page-btn-area"><div class="news-page-btn page-btn"><div class="icon"><i class="fal fa-arrow-left"></i></div><span>PREV</span></div><div class="news-page-img"><img src="img/default_pic.jpg" alt=""/></div><div class="news-page-tit">【教務】【重要公告：電影系人工加選課程與線上課程】</div></div><div class="news-page-btn-area"><div class="news-page-btn news-page-next page-btn"><span>NEXT</span><div class="icon"><i class="fal fa-arrow-right"></i></div></div><div class="news-page-img"><img src="img/list02.jpg" alt=""/></div><div class="news-page-tit">【學務】108年度深耕計畫【獎助教職員生參加國際教學展演競賽】開放申請(6月14日下午17時截止)</div></div></div><div class="news-main-area"><div class="page-btn-area"><div class="page-btn-box"><a class="page-btn" href="news_list.html"><div class="icon"><i class="fal fa-arrow-left"></i></div><span>BACK</span></a></div><div class="page-btn-box"><div class="page-btn" id="goTop"><div class="icon"><i class="fal fa-arrow-up"></i></div><span>TOP</span></div></div></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html>

pug/news_cont.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[{'link':'news_list.html','name':'系所公告'}],'isAct':'【競賽資訊】2022第六屆台北金鵰微電影展'}
                +sideBread(bread)
            .main-cont
                .news-cont-area
                    .news-main-area
                        .news-main-cont
                            .news-cont.news-tit-cont
                                .tit 【競賽資訊】2022第六屆台北金鵰微電影展
                                .date 2021.10.20
                            .news-banner
                                img(src="img/cont_pic.jpg" alt="")
                            .news-cont
                                .edit-area
                                    p.def ▶ 影展宗旨<br>國際間的永續發展思潮不斷推進，永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Development Goals, SDGs）；為使大眾能更易理解組織永續成果，以嶄新、視覺化的方式以微電影的形式，呈現組織致力於SDGs之作為，特舉辦此微電影展。 
                                    p.def ▶ 活動對象<br>全球政府單位、公司、企業、大學、NPO（非營利組織）等單位組織。
                                    p.def ▶ 獎項介紹<br>本屆將評選出年度十大永續微電影，並從十大永續微電影之作品中，遴選出「年度最佳影片」、「最佳社會共融」、「最佳經營治理」、「最佳環境資源」四項最佳獎項，於頒獎典禮上公布獎項結果。
                                    p.def ▶ 聯絡人<br>張先生 02-2747-4932#301 / giftchang@taise.org.tw
                                -const downloadData=['「2022第六屆台北金鵰微電影展」徵件簡章.zip']
                                +downloadArea(downloadData)
                    .news-side
                        .news-page-btn-area
                            .news-page-btn.page-btn
                                .icon <i class="fal fa-arrow-left"></i>
                                span PREV
                            .news-page-img
                                img(src="img/default_pic.jpg", alt="")
                            .news-page-tit 【教務】【重要公告：電影系人工加選課程與線上課程】
                        .news-page-btn-area
                            .news-page-btn.news-page-next.page-btn
                                span NEXT
                                .icon <i class="fal fa-arrow-right"></i>
                            .news-page-img
                                img(src="img/list02.jpg", alt="")
                            .news-page-tit 【學務】108年度深耕計畫【獎助教職員生參加國際教學展演競賽】開放申請(6月14日下午17時截止)
                    .news-main-area
                        -const pageBtn={'isBack':'news_list.html'};
                        +pageBtnArea(pageBtn)
        //-內容
        include includes/footer
