public/news_list.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><span>系所公告</span></div></div><div class="main-cont"><div class="news-area"><div class="news-area-tit">系所公告</div><div class="news-list"><a class="news-box" href="news_cont.html"><div class="news-img"><img src="img/list01.jpg" alt=""/></div><div class="news-info-cont"><div class="news-info"><div class="news-tit">【競賽資訊】2022第六屆台北金雕微電影展</div><div class="news-txt">國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...</div></div><div class="news-date">2021.10.20</div></div></a><a class="news-box" href="news_cont.html"><div class="news-img"><img src="img/list02.jpg" alt=""/></div><div class="news-info-cont"><div class="news-info"><div class="news-tit">【學務】108年度深耕計畫【獎助教職員生參加國際教學展演競賽】開放申請(6月14日下午17時截止)</div><div class="news-txt">108年度高教深耕計畫「獎助教職員生參加國際教學展演競賽」開始受理申請，請詳加閱讀本獎助要點後提出申請。依本校高教深耕計畫「國立臺灣藝術大學獎助教職員生參加國際教學展演競賽實施要點」(如附件一)辦理。</div></div><div class="news-date">2021.10.20</div></div></a><a class="news-box" href="news_cont.html"><div class="news-img"><img src="img/default_pic.jpg" alt=""/></div><div class="news-info-cont"><div class="news-info"><div class="news-tit">【教務】【重要公告：電影系人工加選課程與線上課程】</div><div class="news-txt">【重要公告：電影系選課與線上課程】 ⚠️加退選時間延長：110 年 9 月 8 日（14:00）~110 年 10 月 4 日（21:00)</div></div><div class="news-date">2021.10.20</div></div></a><a class="news-box" href="news_cont.html"><div class="news-img"><img src="img/list03.jpg" alt=""/></div><div class="news-info-cont"><div class="news-info"><div class="news-tit">【其他】賀 本系碩士班同學陳威丞《控制對ㄇㄚˇ》入圍2018 加利福尼亞國際電影節及戴維斯華人電影節</div><div class="news-txt">國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...</div></div><div class="news-date">2021.10.20</div></div></a><a class="news-box" href="news_cont.html"><div class="news-img"><img src="img/list04.jpg" alt=""/></div><div class="news-info-cont"><div class="news-info"><div class="news-tit">【實習與徵才】臺東大學數位媒體與文教產業學系徵聘【專任助理教授以上】教師，收件至110年3月25日止。</div><div class="news-txt">國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...</div></div><div class="news-date">2021.10.20</div></div></a><a class="news-box" href="news_cont.html"><div class="news-img"><img src="img/list05.jpg" alt=""/></div><div class="news-info-cont"><div class="news-info"><div class="news-tit">【教務】109-2學期碩士班、碩士在職專班完成離校手續時程調整公告</div><div class="news-txt">國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...</div></div><div class="news-date">2021.10.20</div></div></a><a class="news-box" href="news_cont.html"><div class="news-img"><img src="img/default_pic.jpg" alt=""/></div><div class="news-info-cont"><div class="news-info"><div class="news-tit">【器材】電影系器材說明會</div><div class="news-txt">國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...</div></div><div class="news-date">2021.10.20</div></div></a></div><div class="pagination-area"><a class="disable" href="###"><i class="fal fa-arrow-to-left"></i></a><a class="disable" href="###"><i class="fal fa-arrow-left"></i></a><a class="act" href="###">1</a><a href="###">2</a><a href="###">3</a><a href="###">4</a><a href="###">5</a><a href="###"><i class="fal fa-arrow-right"></i></a><a href="###"><i class="fal fa-arrow-to-right"></i></a></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html>

pug/news_list.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'系所公告'}
                +sideBread(bread)
            .main-cont
                .news-area
                    .news-area-tit 系所公告
                    .news-list
                        -const news01={'img':'list01.jpg','tit':'【競賽資訊】2022第六屆台北金雕微電影展','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...','date':'2021.10.20'};
                        +newsBox(news01)
                        -const news02={'img':'list02.jpg','tit':'【學務】108年度深耕計畫【獎助教職員生參加國際教學展演競賽】開放申請(6月14日下午17時截止)','txt':'108年度高教深耕計畫「獎助教職員生參加國際教學展演競賽」開始受理申請，請詳加閱讀本獎助要點後提出申請。依本校高教深耕計畫「國立臺灣藝術大學獎助教職員生參加國際教學展演競賽實施要點」(如附件一)辦理。','date':'2021.10.20'};
                        +newsBox(news02)
                        -const news03={'img':'default_pic.jpg','tit':'【教務】【重要公告：電影系人工加選課程與線上課程】','txt':'【重要公告：電影系選課與線上課程】 ⚠️加退選時間延長：110 年 9 月 8 日（14:00）~110 年 10 月 4 日（21:00)','date':'2021.10.20'};
                        +newsBox(news03)
                        -const news04={'img':'list03.jpg','tit':'【其他】賀 本系碩士班同學陳威丞《控制對ㄇㄚˇ》入圍2018 加利福尼亞國際電影節及戴維斯華人電影節','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...','date':'2021.10.20'};
                        +newsBox(news04)
                        -const news05={'img':'list04.jpg','tit':'【實習與徵才】臺東大學數位媒體與文教產業學系徵聘【專任助理教授以上】教師，收件至110年3月25日止。','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...','date':'2021.10.20'};
                        +newsBox(news05)
                        -const news06={'img':'list05.jpg','tit':'【教務】109-2學期碩士班、碩士在職專班完成離校手續時程調整公告','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...','date':'2021.10.20'};
                        +newsBox(news06)
                        -const news07={'img':'default_pic.jpg','tit':'【器材】電影系器材說明會','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...','date':'2021.10.20'};
                        +newsBox(news07)
                    +pageArea

        //-內容
        include includes/footer
