pug/professional_list.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'空間設備 - 專業空間'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 EQUIPMENT
                    .page-side
                        h3 空間設備
                        -const pageSideNav=[{'name':'交誼空間','link':'social_list.html'},{'name':'專業空間','link':'professional_list.html','isAct':true},{'name':'器材設備','link':'equipment_list.html'}];
                        +pageSideNavArea(pageSideNav)
                    .page-cont.equ-list-page-cont
                        .equ-list-area
                            -const equ01={'num':'01','img':'space01.jpg','tit':'攝影棚','txt':'參照業界標準設計，讓尋找實景拍攝之作業困擾降到最低，以進行困難之電影技術教學增進同學對拍攝空間的理解，有效與業界接軌。'}
                            +equListBox(equ01)
                            -const equ02={'num':'02','img':'space02.jpg','tit':'非線性剪接教室','txt':'本空間規劃6間獨立工作區，供課程作業拍攝後，數位檔案之剪接使用，內部設備為Mac電腦三部，含Final Cut Pro軟體。'}
                            +equListBox(equ02)
                            -const equ03={'num':'03','img':'space03.jpg','tit':'錄音/混音室','txt':'嚴格認證的Dolby混音室為最常見的7.1系統，擁有齊全、不同種類的麥克風、監聽設備、硬體效果機材(Outboard)。'}
                            +equListBox(equ03)
                            -const equ04={'num':'04','img':'space04.jpg','tit':'電影院','txt':'影音大樓電影院佔地約82坪，座位140個，放映系統包括DCP、HDCAM、DIGITAL BETACAM、35mm、16mm、BD多種規格。'}
                            +equListBox(equ04)
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer

public/professional_list.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><span>空間設備 - 專業空間</span></div></div><div class="main-cont"><div class="page-group"><h2>EQUIPMENT</h2><div class="page-side"><h3>空間設備</h3><div class="page-side-nav-area"><div class="page-side-nav"><a href="social_list.html">交誼空間</a></div><div class="page-side-nav act"><a href="professional_list.html">專業空間</a></div><div class="page-side-nav"><a href="equipment_list.html">器材設備</a></div></div></div><div class="page-cont equ-list-page-cont"><div class="equ-list-area"><div class="equ-list-box"><div class="num">01</div><div class="equ-list-img-box fade-area"><div class="fade-img-cont"><img src="img/space01.jpg" alt=""/><div class="fade-cont"><div class="fade-box"><img src="img/equ01.jpg" alt=""/></div><div class="fade-box"><img src="img/equ02.jpg" alt=""/></div><div class="fade-box"><img src="img/equ03.jpg" alt=""/></div><div class="fade-box"><img src="img/equ04.jpg" alt=""/></div></div></div></div><div class="equ-list-cont"><div class="tit"><span>攝影棚</span><div class="icon"><img src="img/icon_more.png" alt=""/></div></div><div class="txt">參照業界標準設計，讓尋找實景拍攝之作業困擾降到最低，以進行困難之電影技術教學增進同學對拍攝空間的理解，有效與業界接軌。</div></div></div><div class="equ-list-box"><div class="num">02</div><div class="equ-list-img-box fade-area"><div class="fade-img-cont"><img src="img/space02.jpg" alt=""/><div class="fade-cont"><div class="fade-box"><img src="img/equ01.jpg" alt=""/></div><div class="fade-box"><img src="img/equ02.jpg" alt=""/></div><div class="fade-box"><img src="img/equ03.jpg" alt=""/></div><div class="fade-box"><img src="img/equ04.jpg" alt=""/></div></div></div></div><div class="equ-list-cont"><div class="tit"><span>非線性剪接教室</span><div class="icon"><img src="img/icon_more.png" alt=""/></div></div><div class="txt">本空間規劃6間獨立工作區，供課程作業拍攝後，數位檔案之剪接使用，內部設備為Mac電腦三部，含Final Cut Pro軟體。</div></div></div><div class="equ-list-box"><div class="num">03</div><div class="equ-list-img-box fade-area"><div class="fade-img-cont"><img src="img/space03.jpg" alt=""/><div class="fade-cont"><div class="fade-box"><img src="img/equ01.jpg" alt=""/></div><div class="fade-box"><img src="img/equ02.jpg" alt=""/></div><div class="fade-box"><img src="img/equ03.jpg" alt=""/></div><div class="fade-box"><img src="img/equ04.jpg" alt=""/></div></div></div></div><div class="equ-list-cont"><div class="tit"><span>錄音/混音室</span><div class="icon"><img src="img/icon_more.png" alt=""/></div></div><div class="txt">嚴格認證的Dolby混音室為最常見的7.1系統，擁有齊全、不同種類的麥克風、監聽設備、硬體效果機材(Outboard)。</div></div></div><div class="equ-list-box"><div class="num">04</div><div class="equ-list-img-box fade-area"><div class="fade-img-cont"><img src="img/space04.jpg" alt=""/><div class="fade-cont"><div class="fade-box"><img src="img/equ01.jpg" alt=""/></div><div class="fade-box"><img src="img/equ02.jpg" alt=""/></div><div class="fade-box"><img src="img/equ03.jpg" alt=""/></div><div class="fade-box"><img src="img/equ04.jpg" alt=""/></div></div></div></div><div class="equ-list-cont"><div class="tit"><span>電影院</span><div class="icon"><img src="img/icon_more.png" alt=""/></div></div><div class="txt">影音大樓電影院佔地約82坪，座位140個，放映系統包括DCP、HDCAM、DIGITAL BETACAM、35mm、16mm、BD多種規格。</div></div></div></div></div></div><div class="page-btn-area"><div class="page-btn-box"></div><div class="page-btn-box"><div class="page-btn" id="goTop"><div class="icon"><i class="fal fa-arrow-up"></i></div><span>TOP</span></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html>
