public/resource_edu_cont.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><a href="resource_edu_list.html">資源與下載 - 教務</a><i class="fal fa-chevron-down"></i><span>教務</span></div></div><div class="main-cont"><div class="page-group"><h2>RESOURCE</h2><div class="page-side"><h3>資源與下載</h3><div class="page-side-nav-area"><div class="page-side-nav act item01"><a href="resource_edu_list.html">教務</a></div><div class="page-side-nav item01"><a href="###">招生</a></div><div class="page-side-nav item02"><a href="###">設備與系所資源</a></div><div class="page-side-nav"><a href="###">其他文件</a></div></div></div><div class="page-cont"><div class="resource-cont-area"><div class="resource-tit">110學年度進修學士班招生(二)各學系「考試組」考試日期及評量方式修正公告</div><div class="resource-date">2021.10.20</div><div class="resource-cont"><div class="edit-area"><p class="def">一、修正依據：經本校110學年度-11次招生委員會議通過，因應嚴重特殊傳染性肺炎(COVID-19)疫情影響，暨減少人員群聚及流動，調整考試方式及日期。</p><p class="def">二、注意事項：因評量模式變更，請「考試組」考生務必於 110 年6月 28日(星期一)前填寫「同意更改考試方式及時程調查表」，請先傳真(02-29694420)或Email至：aarc@ntua.edu.tw，並必須寄繳正本至本校教務處註冊組(220新北市板橋區大觀路1段59號)收，以辦理後續退費相關事宜，逾期未繳調查表者視同同意，不得申請全額退費。</p><p class="def">三、寄繳學系審查資料日期：110年6月28日起至7月5日止，請以郵局限時掛號或超商宅配服務方式，寄繳至報考學系，郵戳為憑，逾期不予受理。欲親自送件者請於上述規定期限內，本校上班時間送至報考學系辦公室，當場只收件不審核，亦不提供收件收據或證明。</p><p class="def">四、視訊面試日期：110年8月3日~4日。</p><p class="def">五、選填志願學系(含圖文系及廣電系)及電影系，此3學系視訊面試方式及說明由招生學系訂定，另行於各學系「進學班考試應變方案」專區及教務處首頁最新消息公告，並於面試前擇定時間進行視訊面試測試作業，各梯次時間及相關資訊將公告於各招生學系「進學班考試應變方案」專區網頁及本校教務處招生專區網頁，請考生務必密切注意!!</p><p class="def">六、110年7月30 日(星期五)最晚下午4時公告視訊面試注意事項等資訊。</p><p class="def">疫情修正版簡章＞6月28日(含)前寄繳<br>同意更改考試方式及時程調查表＞6月28日(含)前寄繳<br>退費申請書＞7月29日(含)前寄繳</p></div><div class="download-area"><div class="tit">檔案下載</div><ul class="download-list"><li><a href="###"><span>疫情修正版簡章.pdf</span></a></li><li><a href="###"><span>同意更改考試方式及時程調查表.pdf</span></a></li><li><a href="###"><span>退費申請書.pdf</span></a></li></ul></div></div></div></div></div><div class="page-btn-area"><div class="page-btn-box"><a class="page-btn" href="resource_edu_list.html"><div class="icon"><i class="fal fa-arrow-left"></i></div><span>BACK</span></a></div><div class="page-btn-box"><div class="page-btn" id="goTop"><div class="icon"><i class="fal fa-arrow-up"></i></div><span>TOP</span></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html>

pug/resource_edu_cont.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[{'link':'resource_edu_list.html','name':'資源與下載 - 教務'}],'isAct':'教務'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 RESOURCE
                    .page-side
                        h3 資源與下載
                        -const pageSideNav=[{'name':'教務','link':'resource_edu_list.html','itemClass':'item01','isAct':true},{'name':'招生','link':'###','itemClass':'item01'},{'name':'設備與系所資源','link':'###','itemClass':'item02'},{'name':'其他文件','link':'###'}]
                        +pageSideNavArea(pageSideNav)
                    .page-cont
                        .resource-cont-area
                            .resource-tit 110學年度進修學士班招生(二)各學系「考試組」考試日期及評量方式修正公告
                            .resource-date 2021.10.20
                            .resource-cont
                                .edit-area
                                    p.def 一、修正依據：經本校110學年度-11次招生委員會議通過，因應嚴重特殊傳染性肺炎(COVID-19)疫情影響，暨減少人員群聚及流動，調整考試方式及日期。
                                    p.def 二、注意事項：因評量模式變更，請「考試組」考生務必於 110 年6月 28日(星期一)前填寫「同意更改考試方式及時程調查表」，請先傳真(02-29694420)或Email至：aarc@ntua.edu.tw，並必須寄繳正本至本校教務處註冊組(220新北市板橋區大觀路1段59號)收，以辦理後續退費相關事宜，逾期未繳調查表者視同同意，不得申請全額退費。
                                    p.def 三、寄繳學系審查資料日期：110年6月28日起至7月5日止，請以郵局限時掛號或超商宅配服務方式，寄繳至報考學系，郵戳為憑，逾期不予受理。欲親自送件者請於上述規定期限內，本校上班時間送至報考學系辦公室，當場只收件不審核，亦不提供收件收據或證明。
                                    p.def 四、視訊面試日期：110年8月3日~4日。
                                    p.def 五、選填志願學系(含圖文系及廣電系)及電影系，此3學系視訊面試方式及說明由招生學系訂定，另行於各學系「進學班考試應變方案」專區及教務處首頁最新消息公告，並於面試前擇定時間進行視訊面試測試作業，各梯次時間及相關資訊將公告於各招生學系「進學班考試應變方案」專區網頁及本校教務處招生專區網頁，請考生務必密切注意!!
                                    p.def 六、110年7月30 日(星期五)最晚下午4時公告視訊面試注意事項等資訊。
                                    p.def 疫情修正版簡章＞6月28日(含)前寄繳<br>同意更改考試方式及時程調查表＞6月28日(含)前寄繳<br>退費申請書＞7月29日(含)前寄繳
                                -const downloadData=['疫情修正版簡章.pdf','同意更改考試方式及時程調查表.pdf','退費申請書.pdf']
                                +downloadArea(downloadData)
                -const pageBtn={'isBack':'resource_edu_list.html'};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer
