pug/resource_edu_list.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'資源與下載 - 教務'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 RESOURCE
                    .page-side
                        h3 資源與下載
                        -const pageSideNav=[{'name':'教務','link':'resource_edu_list.html','itemClass':'item01','isAct':true},{'name':'招生','link':'###','itemClass':'item01'},{'name':'設備與系所資源','link':'###','itemClass':'item02'},{'name':'其他文件','link':'###'}]
                        +pageSideNavArea(pageSideNav)
                    .page-cont
                        .resource-list-area.side-list
                            -const res01={'tit':'110學年度進修學士班招生(二)各學系「考試組」考試日期及評量方式修正公告','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res01)
                            -const res02={'tit':'110學年度進修學士班招生(二)各學系「甄試組」面試方式修正公告','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res02)
                            -const res03={'tit':'110學年度日間學士班暨進修學士班轉學生考試招生簡章(防疫版)公告','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res03)
                            -const res04={'tit':'重要調課通知-9/17-碩班-臺灣電影專題','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res04)
                            -const res05={'tit':'110學年度大學個人申請入學書面審查準備指引-電影學系(20210329更新)','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res05)
                            -const res06={'tit':'【進修學士班考試組招生考試】視訊面試（複試）注意事項公告','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res06)
                            -const res07={'tit':'畢業生百大考試年限及畢業製作繳交作品規定','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res07)
                            -const res08={'tit':'110學年度-電影學系畢業論文組 提報規則','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res08)
                            -const res09={'tit':'110學年度-電影學系畢業劇本組 提報規則','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res09)
                            -const res10={'tit':'110年度深耕計畫【獎助教職員生參加國際教學展演競賽】開放申請(6月14日下午17時截止)','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res10)
                        +pageArea
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer

public/resource_edu_list.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><span>資源與下載 - 教務</span></div></div><div class="main-cont"><div class="page-group"><h2>RESOURCE</h2><div class="page-side"><h3>資源與下載</h3><div class="page-side-nav-area"><div class="page-side-nav act item01"><a href="resource_edu_list.html">教務</a></div><div class="page-side-nav item01"><a href="###">招生</a></div><div class="page-side-nav item02"><a href="###">設備與系所資源</a></div><div class="page-side-nav"><a href="###">其他文件</a></div></div></div><div class="page-cont"><div class="resource-list-area side-list"><a class="resource-list-box" href="resource_edu_cont.html"><div class="tit">110學年度進修學士班招生(二)各學系「考試組」考試日期及評量方式修正公告</div><div class="date">2021.10.20</div></a><a class="resource-list-box" href="resource_edu_cont.html"><div class="tit">110學年度進修學士班招生(二)各學系「甄試組」面試方式修正公告</div><div class="date">2021.10.20</div></a><a class="resource-list-box" href="resource_edu_cont.html"><div class="tit">110學年度日間學士班暨進修學士班轉學生考試招生簡章(防疫版)公告</div><div class="date">2021.10.20</div></a><a class="resource-list-box" href="resource_edu_cont.html"><div class="tit">重要調課通知-9/17-碩班-臺灣電影專題</div><div class="date">2021.10.20</div></a><a class="resource-list-box" href="resource_edu_cont.html"><div class="tit">110學年度大學個人申請入學書面審查準備指引-電影學系(20210329更新)</div><div class="date">2021.10.20</div></a><a class="resource-list-box" href="resource_edu_cont.html"><div class="tit">【進修學士班考試組招生考試】視訊面試（複試）注意事項公告</div><div class="date">2021.10.20</div></a><a class="resource-list-box" href="resource_edu_cont.html"><div class="tit">畢業生百大考試年限及畢業製作繳交作品規定</div><div class="date">2021.10.20</div></a><a class="resource-list-box" href="resource_edu_cont.html"><div class="tit">110學年度-電影學系畢業論文組 提報規則</div><div class="date">2021.10.20</div></a><a class="resource-list-box" href="resource_edu_cont.html"><div class="tit">110學年度-電影學系畢業劇本組 提報規則</div><div class="date">2021.10.20</div></a><a class="resource-list-box" href="resource_edu_cont.html"><div class="tit">110年度深耕計畫【獎助教職員生參加國際教學展演競賽】開放申請(6月14日下午17時截止)</div><div class="date">2021.10.20</div></a></div><div class="pagination-area"><a class="disable" href="###"><i class="fal fa-arrow-to-left"></i></a><a class="disable" href="###"><i class="fal fa-arrow-left"></i></a><a class="act" href="###">1</a><a href="###">2</a><a href="###">3</a><a href="###">4</a><a href="###">5</a><a href="###"><i class="fal fa-arrow-right"></i></a><a href="###"><i class="fal fa-arrow-to-right"></i></a></div></div></div><div class="page-btn-area"><div class="page-btn-box"></div><div class="page-btn-box"><div class="page-btn" id="goTop"><div class="icon"><i class="fal fa-arrow-up"></i></div><span>TOP</span></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html>
