public/search.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><!--校友地圖 - light--><div class="src-alumni-lg-area" id="srcAlumniLgArea"><div class="src-alumni-close" id="srcAlumniClose"></div><div class="src-alumni-lg-box"><div class="src-alumni-lg-img"><img src="img/alumni_lg.jpg" alt=""/></div><div class="src-alumni-lg-cont"><div class="src-alumni-lg-tit"><div class="name">陳博文</div><div class="point">121°38′E, 25°2′N</div></div><div class="src-alumni-lg-txt"><div class="src-alumni-lg-edit edit-area"><p class="def">台灣著名剪接師，剪接作品超過150部，與許多台灣電影導演合作。畢業於國立藝專（台灣藝術大學）廣播電視科。現主持陳博文電影剪接工作室，並致力於剪接人才培育。</p><p class="def">持續在專業領域工作近三十年（1980-2009），以純熟技術為經，以藝術品味為緯，再造作品的靈魂。其作品產學價值面寬廣，舉凡藝術、商業、紀錄片、動畫等，皆全力以赴。</p><p class="def">參與許多台灣揚名國際電影的剪接，長期協助台灣新電影導演們完成作品，提升其對電影之視野。持續培育剪接人才，不遺餘力。</p><p class="def">代表作品<br>1981年：《1905年的冬天》（首部獨立剪接作品）<br> 1991年：《牯嶺街少年殺人事件》（被楊德昌影響對於電影戲劇的看法）<br> 1999年：《紅葉傳奇》（首部紀錄片剪接作品）<br> 2000年：《一一》<br> 2011年：《賽德克·巴萊》（近期最大型三小時以上鉅片剪接作品）<br> 2015年：《大囍臨門》<br></p><p class="def">陳博文電影剪接工作室——剪接自己的人生：「影像戰鬥營」剪輯工作坊</p></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><span>全站搜尋</span></div></div><div class="main-cont"><div class="page-group"><h2>SEARCH</h2><div class="page-side"><h3>全站搜尋</h3><div class="circle-txt"><img src="img/bg_img.svg" alt=""/></div></div><div class="page-cont"><div class="search-area"><div class="search-tab-box" id="searchTabBox"><div class="search-tab act" id="srcTabEvent">公告與活動</div><div class="search-tab" id="srcTabRule">規章制度與下載</div><div class="search-tab" id="srcTabAlumni">校友地圖</div></div><div class="search-input-box"><div class="icon" id="srcBtn"><img src="img/icon_src.svg" alt="search"/></div><div class="search-input"><input class="input-src" id="srcKey" type="text" name="" placeholder="請輸入關鍵字"/></div></div><div class="search-key-txt" id="srcKeyTxt" style="display:none;">您搜尋的關鍵字為<span>畢業</span>，搜尋結果共<span>4</span>筆資料。</div><!--公告與活動 - 搜尋結果--><div class="srcList" id="srcEventListArea" style="display:none;"><div class="src-event-list side-list"><a class="src-event-box" href="###"><div class="src-event-img"><img src="img/list01.jpg" alt=""/></div><div class="src-event-cont"><div class="tit-box"><div class="tit">110學年度大學「個人申請」入學招生第二階段指定項目甄試公告及畢業相關注</div><div class="txt">國際間的永續發展思潮不斷推進，企業永續概念亦持續進展續概念</div></div><div class="date">2021.11.07</div></div></a><a class="src-event-box" href="###"><div class="src-event-img"><img src="img/default_pic.jpg" alt=""/></div><div class="src-event-cont"><div class="tit-box"><div class="tit">【教務】【重要公告：電影系人工加選課程與線上課程及應屆畢業生注意事項】</div><div class="txt">加退選時間延長：110 年 9 月 8 日（14:00）~110 年 10 月 4 日...</div></div><div class="date">2021.11.07</div></div></a><a class="src-event-box" href="###"><div class="src-event-img"><img src="img/list02.jpg" alt=""/></div><div class="src-event-cont"><div class="tit-box"><div class="tit">【活動】臺藝電影106級畢業展：浮島曳影 NTUA MPD Graduation Film ...</div><div class="txt">國際間的永續發展思潮不斷推進，企業永續概念亦持續進展續概念</div></div><div class="date">2021.11.07</div></div></a></div><div class="pagination-area"><a class="disable" href="###"><i class="fal fa-arrow-to-left"></i></a><a class="disable" href="###"><i class="fal fa-arrow-left"></i></a><a class="act" href="###">1</a><a href="###">2</a><a href="###">3</a><a href="###">4</a><a href="###">5</a><a href="###"><i class="fal fa-arrow-right"></i></a><a href="###"><i class="fal fa-arrow-to-right"></i></a></div></div><!--規章制度與下載 - 搜尋結果--><div class="srcList" id="srcRuleListArea" style="display:none;"><div class="src-rule-list side-list"><a class="src-rule-box" href="###"><div class="tit">進行教學認證的程序－詳細完整步驟規則說明及賠償相關注意事項公告</div><div class="date">2021.10.20</div></a><a class="src-rule-box" href="###"><div class="tit">「影片攝製器材」借用與認證規則</div><div class="date">2021.10.20</div></a><a class="src-rule-box" href="###"><div class="tit">「專業設備空間」借用與認證規則</div><div class="date">2021.10.20</div></a></div><div class="pagination-area"><a class="disable" href="###"><i class="fal fa-arrow-to-left"></i></a><a class="disable" href="###"><i class="fal fa-arrow-left"></i></a><a class="act" href="###">1</a><a href="###">2</a><a href="###">3</a><a href="###">4</a><a href="###">5</a><a href="###"><i class="fal fa-arrow-right"></i></a><a href="###"><i class="fal fa-arrow-to-right"></i></a></div></div><!--校友地圖 - 搜尋結果--><div class="srcList" id="srcAlumniListArea" style="display:none;"><div class="src-alumni-list side-list"><div class="src-alumni-box"><div class="src-alumni-img"><img src="img/local_p01.png" alt=""/></div><div class="src-alumni-cont"><div class="tit">陳博文</div><div class="txt">台灣著名剪接師，剪接作品超過150部，與許多台灣電影導演合作。畢業於國立藝專廣播電視科。現主持陳博文電影剪接工作室，並致...</div></div><div class="more-btn src-alumni-more">more</div></div><div class="src-alumni-box"><div class="src-alumni-img"><img src="img/local_p02.png" alt=""/></div><div class="src-alumni-cont"><div class="tit">陳奕仁</div><div class="txt">台灣音樂錄影帶與廣告導演。曾就讀國立臺灣藝術大學電影系，期間參與多部音樂錄像帶、廣告與電影拍攝。跨足商業性與公共性影像...</div></div><div class="more-btn src-alumni-more">more</div></div><div class="src-alumni-box"><div class="src-alumni-img"><img src="img/local_p03.png" alt=""/></div><div class="src-alumni-cont"><div class="tit">陳淑芳</div><div class="txt">演員，本名陳笑，台灣資深女演員，暱稱國民阿嬤，第57屆金馬獎最佳女主角及最佳女配角。</div></div><div class="more-btn src-alumni-more">more</div></div></div><div class="pagination-area"><a class="disable" href="###"><i class="fal fa-arrow-to-left"></i></a><a class="disable" href="###"><i class="fal fa-arrow-left"></i></a><a class="act" href="###">1</a><a href="###">2</a><a href="###">3</a><a href="###">4</a><a href="###">5</a><a href="###"><i class="fal fa-arrow-right"></i></a><a href="###"><i class="fal fa-arrow-to-right"></i></a></div></div></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html><script>$(document).ready(function(){
    //=== Enter 送出搜尋 ===
    $("#srcBtn").on('click',function(){
        console.log("SrcBtn");
        keySrc();
    });
    $("#srcKey").keypress(function(e){
        code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13){
            console.log('enter');
            keySrc();
        }
    });
    $('.search-tab').on('click',function(){
        $('.search-tab').removeClass('act');
        $(this).addClass('act');
    });
    //=== 校友地圖 ===
    $(".src-alumni-lg-edit").mCustomScrollbar();
    $('.src-alumni-more').on('click',function(){
        $('#srcAlumniLgArea,#mask').fadeIn(300);
    });
    $('#srcAlumniClose').on('click',function(){
        $('#srcAlumniLgArea,#mask').fadeOut(300);
    });
});
function keySrc(){
    var srcKey=$('#srcKey').val();
    if(srcKey==''){
        alert('請輸入關鍵字');
    }else{
        var actTab=$('#searchTabBox').find('.act').attr('id');
        var actName=actTab.replace('srcTab','');
        console.log(actName);
        var $srcKeyTxt=$('#srcKeyTxt');
        $srcKeyTxt.show();
        $srcKeyTxt.find('span').eq(0).html(srcKey);
        $('.srcList').hide();
        $('#src'+actName+'ListArea').show();
        var listL;
        var $listCont = $('#src'+actName+'ListArea').find('.side-list');
        actName == 'Alumni' ? listL=$listCont.children('div').length : listL=$listCont.children('a').length;
        $srcKeyTxt.find('span').eq(1).html(listL);
    }
}</script>

pug/search.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        //校友地圖 - light
        +alumniLg
        //- .src-alumni-lg-area#srcAlumniLgArea
        //-     .src-alumni-close#srcAlumniClose
        //-     .src-alumni-lg-box
        //-         .src-alumni-lg-img
        //-             img(src="img/alumni_lg.jpg", alt="")
        //-         .src-alumni-lg-cont
        //-             .src-alumni-lg-tit
        //-                 .name 陳博文
        //-                 .point 121°38′E, 25°2′N
        //-             .src-alumni-lg-txt
        //-                 .src-alumni-lg-edit.edit-area
        //-                     p.def 台灣著名剪接師，剪接作品超過150部，與許多台灣電影導演合作。畢業於國立藝專（台灣藝術大學）廣播電視科。現主持陳博文電影剪接工作室，並致力於剪接人才培育。
        //-                     p.def 持續在專業領域工作近三十年（1980-2009），以純熟技術為經，以藝術品味為緯，再造作品的靈魂。其作品產學價值面寬廣，舉凡藝術、商業、紀錄片、動畫等，皆全力以赴。
        //-                     p.def 參與許多台灣揚名國際電影的剪接，長期協助台灣新電影導演們完成作品，提升其對電影之視野。持續培育剪接人才，不遺餘力。
        //-                     p.def 代表作品<br>1981年：《1905年的冬天》（首部獨立剪接作品）<br> 1991年：《牯嶺街少年殺人事件》（被楊德昌影響對於電影戲劇的看法）<br> 1999年：《紅葉傳奇》（首部紀錄片剪接作品）<br> 2000年：《一一》<br> 2011年：《賽德克·巴萊》（近期最大型三小時以上鉅片剪接作品）<br> 2015年：《大囍臨門》<br>
        //-                     p.def 陳博文電影剪接工作室——剪接自己的人生：「影像戰鬥營」剪輯工作坊
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'全站搜尋'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 SEARCH
                    .page-side
                        h3 全站搜尋
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .search-area
                            .search-tab-box#searchTabBox
                                .search-tab#srcTabEvent.act 公告與活動
                                .search-tab#srcTabRule 規章制度與下載
                                .search-tab#srcTabAlumni 校友地圖
                            .search-input-box
                                .icon#srcBtn
                                    img(src="img/icon_src.svg" alt="search")
                                .search-input
                                    input#srcKey.input-src(type="text", name="",placeholder="請輸入關鍵字")
                            .search-key-txt#srcKeyTxt(style="display:none;") 您搜尋的關鍵字為<span>畢業</span>，搜尋結果共<span>4</span>筆資料。
                            //公告與活動 - 搜尋結果
                            .srcList#srcEventListArea(style="display:none;")
                                .src-event-list.side-list
                                    -const srcEvent01={'img':'list01.jpg','tit':'110學年度大學「個人申請」入學招生第二階段指定項目甄試公告及畢業相關注','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展續概念','date':'2021.11.07'}
                                    +srcEventBox(srcEvent01)
                                    -const srcEvent02={'img':'default_pic.jpg','tit':'【教務】【重要公告：電影系人工加選課程與線上課程及應屆畢業生注意事項】','txt':'加退選時間延長：110 年 9 月 8 日（14:00）~110 年 10 月 4 日...','date':'2021.11.07'}
                                    +srcEventBox(srcEvent02)
                                    -const srcEvent03={'img':'list02.jpg','tit':'【活動】臺藝電影106級畢業展：浮島曳影 NTUA MPD Graduation Film ...','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展續概念','date':'2021.11.07'}
                                    +srcEventBox(srcEvent03)
                                +pageArea
                            //規章制度與下載 - 搜尋結果
                            .srcList#srcRuleListArea(style="display:none;")
                                .src-rule-list.side-list
                                    -const srcRule01={'tit':'進行教學認證的程序－詳細完整步驟規則說明及賠償相關注意事項公告','date':'2021.10.20'};
                                    +srcRuleBox(srcRule01)
                                    -const srcRule02={'tit':'「影片攝製器材」借用與認證規則','date':'2021.10.20'};
                                    +srcRuleBox(srcRule02)
                                    -const srcRule03={'tit':'「專業設備空間」借用與認證規則','date':'2021.10.20'};
                                    +srcRuleBox(srcRule03)
                                +pageArea
                            //校友地圖 - 搜尋結果
                            .srcList#srcAlumniListArea(style="display:none;")
                                .src-alumni-list.side-list
                                    -const srcAlumni01={'img':'local_p01.png','tit':'陳博文','txt':'台灣著名剪接師，剪接作品超過150部，與許多台灣電影導演合作。畢業於國立藝專廣播電視科。現主持陳博文電影剪接工作室，並致...'};
                                    +srcAlumniBox(srcAlumni01)
                                    -const srcAlumni02={'img':'local_p02.png','tit':'陳奕仁','txt':'台灣音樂錄影帶與廣告導演。曾就讀國立臺灣藝術大學電影系，期間參與多部音樂錄像帶、廣告與電影拍攝。跨足商業性與公共性影像...'};
                                    +srcAlumniBox(srcAlumni02)
                                    -const srcAlumni03={'img':'local_p03.png','tit':'陳淑芳','txt':'演員，本名陳笑，台灣資深女演員，暱稱國民阿嬤，第57屆金馬獎最佳女主角及最佳女配角。'};
                                    +srcAlumniBox(srcAlumni03)
                                +pageArea
        //-內容
        include includes/footer
script.
    $(document).ready(function(){
        //=== Enter 送出搜尋 ===
        $("#srcBtn").on('click',function(){
            console.log("SrcBtn");
            keySrc();
        });
        $("#srcKey").keypress(function(e){
            code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13){
                console.log('enter');
                keySrc();
            }
        });
        $('.search-tab').on('click',function(){
            $('.search-tab').removeClass('act');
            $(this).addClass('act');
        });
        //=== 校友地圖 ===
        $(".src-alumni-lg-edit").mCustomScrollbar();
        $('.src-alumni-more').on('click',function(){
            $('#srcAlumniLgArea,#mask').fadeIn(300);
        });
        $('#srcAlumniClose').on('click',function(){
            $('#srcAlumniLgArea,#mask').fadeOut(300);
        });
    });
    function keySrc(){
        var srcKey=$('#srcKey').val();
        if(srcKey==''){
            alert('請輸入關鍵字');
        }else{
            var actTab=$('#searchTabBox').find('.act').attr('id');
            var actName=actTab.replace('srcTab','');
            console.log(actName);
            var $srcKeyTxt=$('#srcKeyTxt');
            $srcKeyTxt.show();
            $srcKeyTxt.find('span').eq(0).html(srcKey);
            $('.srcList').hide();
            $('#src'+actName+'ListArea').show();
            var listL;
            var $listCont = $('#src'+actName+'ListArea').find('.side-list');
            actName == 'Alumni' ? listL=$listCont.children('div').length : listL=$listCont.children('a').length;
            $srcKeyTxt.find('span').eq(1).html(listL);
        }
    }
