public/teachers_pt_list.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><span>師資陣容 - 兼任師資</span></div></div><div class="main-cont"><div class="page-group"><h2>FACULTY</h2><div class="page-side"><h3>師資陣容</h3><div class="page-side-nav-area"><div class="page-side-nav"><a href="teachers_list.html">專任師資</a></div><div class="page-side-nav act"><a href="teachers_pt_list.html">兼任師資</a></div><div class="page-side-nav"><a href="staff_list.html">行政人員</a></div></div><div class="circle-txt"><img src="img/bg_img.svg" alt=""/></div></div><div class="page-cont"><div class="teacher-list-area"><a class="teacher-list-box" href="teacher_pt_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher09.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">柯青每</div><div class="cont">助理教授級專業技術人員</div></a><a class="teacher-list-box" href="teacher_pt_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher10.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">郭禮杞</div><div class="cont">助理教授級專業技術人員</div></a><a class="teacher-list-box" href="teacher_pt_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher11.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">李文靜</div><div class="cont">助理教授級專業技術人員</div></a><a class="teacher-list-box" href="teacher_pt_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher12.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">田開良</div><div class="cont">助理教授</div></a><a class="teacher-list-box" href="teacher_pt_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher05.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">聞天祥</div><div class="cont">助理教授</div></a><a class="teacher-list-box" href="teacher_pt_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">安哲毅</div><div class="cont">助理教授</div></a></div></div></div><div class="page-btn-area"><div class="page-btn-box"></div><div class="page-btn-box"><div class="page-btn" id="goTop"><div class="icon"><i class="fal fa-arrow-up"></i></div><span>TOP</span></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html>

pug/teachers_pt_list.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'師資陣容 - 兼任師資'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 FACULTY
                    .page-side
                        h3 師資陣容
                        -const pageSideNav=[{'name':'專任師資','link':'teachers_list.html'},{'name':'兼任師資','link':'teachers_pt_list.html','isAct':true},{'name':'行政人員','link':'staff_list.html'}]
                        +pageSideNavArea(pageSideNav)
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .teacher-list-area
                            -const teacher01={'img':'teacher09.jpg','name':'柯青每','cont':'助理教授級專業技術人員','linkTo':2}
                            +teacherListBox(teacher01)
                            -const teacher02={'img':'teacher10.jpg','name':'郭禮杞','cont':'助理教授級專業技術人員','linkTo':2}
                            +teacherListBox(teacher02)
                            -const teacher03={'img':'teacher11.jpg','name':'李文靜','cont':'助理教授級專業技術人員','linkTo':2}
                            +teacherListBox(teacher03)
                            -const teacher04={'img':'teacher12.jpg','name':'田開良','cont':'助理教授','linkTo':2}
                            +teacherListBox(teacher04)
                            -const teacher05={'img':'teacher05.jpg','name':'聞天祥','cont':'助理教授','linkTo':2}
                            +teacherListBox(teacher05)
                            -const teacher06={'img':'teacher07.jpg','name':'安哲毅','cont':'助理教授','linkTo':2}
                            +teacherListBox(teacher06)
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer
