pug/teacher_cont.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[{'link':'teachers_list.html','name':'師資陣容 - 專任師資'}],'isAct':'吳秀菁'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 FACULTY
                    .page-side
                        h3 師資陣容
                        -const pageSideNav=[{'name':'專任師資','link':'teachers_list.html','isAct':true},{'name':'兼任師資','link':'teachers_pt_list.html'},{'name':'行政人員','link':'staff_list.html'}]
                        +pageSideNavArea(pageSideNav)
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .teacher-area
                            .teacher-info-area
                                .teacher-info-img
                                    img(src="img/teacher01.jpg", alt="")
                                .teacher-info-box
                                    .teacher-info-tit
                                        .name 吳秀菁
                                        .office 副教授兼系主任
                                    ul.teacher-links
                                        li
                                            .icon
                                                img(src="img/icon_email.png", alt="")
                                            .link
                                                a(href="mailto:hc0329.tw@yahoo.com.tw") hc0329.tw@yahoo.com.tw
                                        li
                                            .icon
                                                img(src="img/icon_link.png", alt="")
                                            .link
                                                a(href="www.wuhsiuching.com" target="_blank") www.wuhsiuching.com
                                    .teacher-class-box
                                        .tit 授課名稱
                                        ul.class-list
                                            li 電影導演基礎
                                            li 紀錄片製作
                                            li 紀錄片研究
                                            li 短片創作
                        .edit-area
                            p.def <b>個人簡介</b><br>美國芝加哥藝術學 院電影創作碩士MFA曾任大葉大學視覺傳達設計系專任助理教授、世新大學廣播電視電影創作研究所兼任助理教授等職。專長為紀錄片製作、短片創作等。 
                            p.def <b>紀錄片代表作品:</b><br>1.《回家》(Coming Home)
                            ul.def-list
                                li 金穗獎最佳紀錄片
                                li 金馬獎最佳紀錄片入圍
                                li 亞洲紀錄片雙年展入圍
                                li Margaret Mead Film &Video Festival 入選
                                li 臺灣法務部選為推動修復式正義(Restorative Justice)教材
                            p.def 2.《蘆葦之歌》(Song of the Reed)
                            ul.def-list
                                li 國際紀錄片金熊貓獎最具人文關懷獎
                                li 國際紀錄片金熊貓獎最佳紀錄長片入圍
                                li 國際臺灣女性影展最佳紀錄長片入圍
                                li 香港人權影展入選
                            p.def <b>電視紀錄片系列:</b><br>春暉影視<br>《臺灣作家身影 : 楊逵 / 賴和》<br>公視紀錄片<br>《文學風景 : 幾米 / 陳黎》<br>《台灣、荷蘭、鄭家軍》<br>《總統文化獎得主—陳玉峰》
                            p.def <b>實驗短片:</b><br>《水戲》(A Play In Water) 金穗獎最佳實驗短片、比利時布魯塞爾短片獎入選<br>《曠野中的耳語》(Whispers In Wilderness)美國密西根女性影展入選<br>《衝破迷網》(Chat Room)台灣教育部列為九年一貫的影像教材<br>《糖玻璃》 (Cream Cake )國際宜蘭兒童影展最佳劇情短片入圍
                -const pageBtn={'isBack':'teachers_list.html'};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer

public/teacher_cont.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><a href="teachers_list.html">師資陣容 - 專任師資</a><i class="fal fa-chevron-down"></i><span>吳秀菁</span></div></div><div class="main-cont"><div class="page-group"><h2>FACULTY</h2><div class="page-side"><h3>師資陣容</h3><div class="page-side-nav-area"><div class="page-side-nav act"><a href="teachers_list.html">專任師資</a></div><div class="page-side-nav"><a href="teachers_pt_list.html">兼任師資</a></div><div class="page-side-nav"><a href="staff_list.html">行政人員</a></div></div><div class="circle-txt"><img src="img/bg_img.svg" alt=""/></div></div><div class="page-cont"><div class="teacher-area"><div class="teacher-info-area"><div class="teacher-info-img"><img src="img/teacher01.jpg" alt=""/></div><div class="teacher-info-box"><div class="teacher-info-tit"><div class="name">吳秀菁</div><div class="office">副教授兼系主任</div></div><ul class="teacher-links"><li><div class="icon"><img src="img/icon_email.png" alt=""/></div><div class="link"><a href="mailto:hc0329.tw@yahoo.com.tw">hc0329.tw@yahoo.com.tw</a></div></li><li><div class="icon"><img src="img/icon_link.png" alt=""/></div><div class="link"><a href="www.wuhsiuching.com" target="_blank">www.wuhsiuching.com</a></div></li></ul><div class="teacher-class-box"><div class="tit">授課名稱</div><ul class="class-list"><li>電影導演基礎</li><li>紀錄片製作</li><li>紀錄片研究</li><li>短片創作</li></ul></div></div></div></div><div class="edit-area"><p class="def"><b>個人簡介</b><br>美國芝加哥藝術學 院電影創作碩士MFA曾任大葉大學視覺傳達設計系專任助理教授、世新大學廣播電視電影創作研究所兼任助理教授等職。專長為紀錄片製作、短片創作等。 </p><p class="def"><b>紀錄片代表作品:</b><br>1.《回家》(Coming Home)</p><ul class="def-list"><li>金穗獎最佳紀錄片</li><li>金馬獎最佳紀錄片入圍</li><li>亞洲紀錄片雙年展入圍</li><li>Margaret Mead Film &Video Festival 入選</li><li>臺灣法務部選為推動修復式正義(Restorative Justice)教材</li></ul><p class="def">2.《蘆葦之歌》(Song of the Reed)</p><ul class="def-list"><li>國際紀錄片金熊貓獎最具人文關懷獎</li><li>國際紀錄片金熊貓獎最佳紀錄長片入圍</li><li>國際臺灣女性影展最佳紀錄長片入圍</li><li>香港人權影展入選</li></ul><p class="def"><b>電視紀錄片系列:</b><br>春暉影視<br>《臺灣作家身影 : 楊逵 / 賴和》<br>公視紀錄片<br>《文學風景 : 幾米 / 陳黎》<br>《台灣、荷蘭、鄭家軍》<br>《總統文化獎得主—陳玉峰》</p><p class="def"><b>實驗短片:</b><br>《水戲》(A Play In Water) 金穗獎最佳實驗短片、比利時布魯塞爾短片獎入選<br>《曠野中的耳語》(Whispers In Wilderness)美國密西根女性影展入選<br>《衝破迷網》(Chat Room)台灣教育部列為九年一貫的影像教材<br>《糖玻璃》 (Cream Cake )國際宜蘭兒童影展最佳劇情短片入圍</p></div></div></div><div class="page-btn-area"><div class="page-btn-box"><a class="page-btn" href="teachers_list.html"><div class="icon"><i class="fal fa-arrow-left"></i></div><span>BACK</span></a></div><div class="page-btn-box"><div class="page-btn" id="goTop"><div class="icon"><i class="fal fa-arrow-up"></i></div><span>TOP</span></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html>
