public/teachers_list.html
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/><meta name="title" content="title"/><meta name="description" content="描述描述"/><meta name="Copyright" content="© 2020"/><meta property="og:title" content="FB標題"/><meta property="og:site_name" content="FB網址名稱"/><meta property="og:url" content="自定義分享連結的網址"/><meta property="og:description" content="FB描述描述描述"/><meta property="og:image" content="呈現的圖片至少要1200x630"/><meta property="og:type" content="website"/><title>Document</title><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/><script src="js/jquery-3.1.1.min.js"></script><script src="js/swiper.min.js"></script><script src="js/jquery.mCustomScrollbar.concat.min.js"></script><script src="js/common.js"></script><link rel="stylesheet" href="css/all.min.css"/><link rel="stylesheet" href="css/hamburgers.min.css"/><link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/><link rel="stylesheet" href="css/swiper.min.css"/><link rel="stylesheet" href="css/sty.css"/></head><body><div class="mask" id="mask"></div><div id="headerTop"></div><div class="header-area" id="header"><div class="ham-btn"><button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="header-cont"><a class="logo" href="index.html"><h1>國立臺灣藝術大學 電影學系</h1><div class="logo-img" id="logoImg"><img src="img/logo_s.svg" alt="國立臺灣藝術大學電影學系"/></div><div class="logo-img logo-img-w" id="logoImgBanner"><img src="img/logo.svg" alt="國立臺灣藝術大學電影學系"/></div></a><div class="func-area"><a class="icon" href="index.html"><img src="img/icon_home.svg" alt="home"/></a><div class="icon">En</div><a class="icon" href="search.html"><img src="img/icon_src.svg" alt="search"/></a></div></div></div><div class="nav-side-area" id="navSideArea"><div class="ham-btn"><button class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><div class="nav-side-cont"><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">01</div><div class="tit">系所特色</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="about.html">系所介紹</a><a href="###">本系特色</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">02</div><div class="tit">系所公告</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box"><a class="nav-side-tit" href="news_list.html"><div class="num">03</div><div class="tit">近期活動</div></a></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">04</div><div class="tit">師資陣容</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line"><div class="nav-side-tit"><div class="num">05</div><div class="tit">空間設備</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="social_list.html">交誼空間</a><a href="professional_list.html">專業空間</a><a href="equipment_list.html">器材設備</a></div></div></div><div class="nav-side-box"><div class="nav-side-tit-box line02"><div class="nav-side-tit"><div class="num">06</div><div class="tit">規章制度與表單下載</div></div></div><div class="nav-side-sup-box"><div class="nav-side-sup"><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">設備與系所資源</a></div><div class="nav-side-sup"><a href="movies.html">百大影片</a><a href="###">系藏影片</a><a href="resource_edu_list.html">其他文件</a></div></div></div></div></div><div class="main-wrap noise-bg"><div class="side-bread"><div class="side-bread-box"><a href="index.html">首頁</a><i class="fal fa-chevron-down"></i><span>師資陣容 - 專任師資</span></div></div><div class="main-cont"><div class="page-group"><h2>FACULTY</h2><div class="page-side"><h3>師資陣容</h3><div class="page-side-nav-area"><div class="page-side-nav act"><a href="teachers_list.html">專任師資</a></div><div class="page-side-nav"><a href="teachers_pt_list.html">兼任師資</a></div><div class="page-side-nav"><a href="staff_list.html">行政人員</a></div></div><div class="circle-txt"><img src="img/bg_img.svg" alt=""/></div></div><div class="page-cont"><div class="teacher-list-area"><a class="teacher-list-box" href="teacher_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher01.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">吳秀菁</div><div class="cont">副教授兼系主任</div></a><a class="teacher-list-box" href="teacher_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher02.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">廖金鳳</div><div class="cont">教授</div></a><a class="teacher-list-box" href="teacher_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher03.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">吳佩慈</div><div class="cont">教授</div></a><a class="teacher-list-box" href="teacher_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher04.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">丁祈方</div><div class="cont">副教授</div></a><a class="teacher-list-box" href="teacher_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher05.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">何平</div><div class="cont">副教授</div></a><a class="teacher-list-box" href="teacher_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher06.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">吳麗雪</div><div class="cont">副教授兼副教務長</div></a><a class="teacher-list-box" href="teacher_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">林良中</div><div class="cont">副教授</div></a><a class="teacher-list-box" href="teacher_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher08.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">謝嘉錕</div><div class="cont">助理教授</div></a><a class="teacher-list-box" href="teacher_cont.html"><div class="img fade-area"><div class="fade-img-cont"><img src="img/teacher09.jpg" alt=""/></div><div class="fade-cont"><div class="fade-box"><img src="img/staff01.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher07.jpg" alt=""/></div><div class="fade-box"><img src="img/staff02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher09.jpg" alt=""/></div></div></div><div class="name">尚宏玲</div><div class="cont">講師</div></a></div><div class="fade-area" style="width:200px;"><img src="img/teacher01.jpg" alt=""/><div class="fade-cont"><div class="fade-box"><img src="img/teacher02.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher03.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher04.jpg" alt=""/></div><div class="fade-box"><img src="img/teacher05.jpg" alt=""/></div></div></div><div class="fade-cont2"><div class="fade-box2"><img src="img/teacher01.jpg" alt=""/></div><div class="fade-box2 cItem"><img src="img/teacher02.jpg" alt=""/></div><div class="fade-box2 cItem"><img src="img/teacher03.jpg" alt=""/></div><div class="fade-box2"><img src="img/teacher04.jpg" alt=""/></div></div></div></div><div class="page-btn-area"><div class="page-btn-box"></div><div class="page-btn-box"><div class="page-btn" id="goTop"><div class="icon"><i class="fal fa-arrow-up"></i></div><span>TOP</span></div></div></div></div></div><footer id="footer"><div class="footer-cont"><div class="footer-link-area"><div class="footer-link-box"><div class="tit">關於本所</div><a href="about.html">系所介紹</a><a href="###">聯絡我們</a><a href="site_map.html">網站導覽</a></div><div class="footer-link-box"><div class="tit">師資陣容</div><a href="teachers_list.html">專任師資</a><a href="teachers_pt_list.html">兼任師資</a><a href="staff_list.html">行政人員</a></div><div class="footer-link-box"><div class="tit">系所公告</div><a href="news_list.html">系所公告</a></div><div class="footer-link-box"><div class="tit">近期活動</div><a href="news_list.html">近期活動</a></div><div class="footer-link-box"><div class="tit">資源與下載</div><a href="resource_edu_list.html">教務</a><a href="resource_edu_list.html">招生</a><a href="resource_edu_list.html">其他文件</a></div></div><div class="footer-logo-area"><div class="footer-logo"><img src="img/logo_f.png" alt="國立臺灣藝術大學電影學系"/></div><div class="footer-info"><div class="footer-info-box"><img src="img/icon_local.svg" alt=""/><span>新北市22058板橋區大觀路一段59號</span></div><div class="footer-info-box"><img src="img/icon_phone.svg" alt=""/><span>+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202</span></div><div class="footer-info-box"><img src="img/icon_mail.svg" alt=""/><span><a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a></span></div></div></div><div class="footer-copyright">© 2021 國立臺灣藝術大學電影學系</div></div></footer></body></html><script>$(document).ready(function(){
    var timer;
    $('.fade-area').each(function(ind,val){
        var fadeImgL=$(val).find('.fade-box').length;
        var lastFade=fadeImgL-1;
        $(val).find('.fade-box').each(function(ind,val){
            $(val).addClass('cItem');
            if(ind==0){
                $(val).removeClass('cItem');
            }else if(ind==lastFade){
                $(val).removeClass('cItem');
            }
        });
    });
    //=== 舊的 ===
    //- $('.fade-area').on('mouseenter', function () {
    //-     $(this).children('img').css({ 'opacity': 0 });
    //-     $(this).find('.fade-cont').show();
    //-     var $itemBox=$(this);
    //-     var iNow=1;
    //-     //- $('#test').find('.img').eq(0).show();
    //-     $itemBox.find('.fade-box').eq(0).fadeIn(1000);
    //-     //- $(this).find('.img').eq(iNow).addClass('fade1');
    //-     //- $(this).find('.img').eq(iNow+1).addClass('fade2');
    //-     timer=setInterval(function(){
    //-         console.log('1',iNow)
    //-         //- if(iNow!==1){
    //-         //- //- 	$('#test').find('.img').eq(0).show();
    //-         //- //- }
    //-         //- //- else{
    //-         //- 	$('#test').find('.img').eq(0).hide();
    //-         //- }
    //-         $itemBox.find('.fade-box').eq(iNow).fadeIn(1000);
    //-         iNow++;
    //-         var fadeImgL=$itemBox.find('.fade-box').length;
    //-         var lastFade=fadeImgL-1;
    //-         if(iNow > fadeImgL){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
    //-             iNow=1;
    //-             $itemBox.find('.cItem').hide();
    //-             $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
    //-             console.log(lastFade);
    //-             $itemBox.find('.fade-box').eq(0).fadeIn(1000);
    //-         }
    //-     },2000);
    //-     //- timer2=setInterval(function(){
    //-     //- 	console.log('2',iNow)
    //-     //- 	$('#test').find('.img').eq(iNow).fadeOut(500);
    //-     //- 	iNow2=iNow2+2;
    //-     //- },4000);
    //-     //- $(this).find('.img').eq(iNow).addClass('on');
    //-     //- changeDataAni();
    //-     //- timer=setInterval(function(){ //打开定时器
    //-     //- 	//- iNow++;  //让图片的索引值次序加1，这样就可以实现顺序轮播图片
    //-     //- 	//- if(iNow>showNumber.length-1){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
    //-     //- 	//- 	iNow=0;
    //-     //- 	//- }
    //-     //- 	//- showNumber.eq(iNow).trigger("click"); //模拟触发数字按钮的click
    //-     //- },2000); //2000为轮播的时间
    //-     //- $(this).find('.fade-img-box,.fade-img').show();
    //-     //- $(this).find('.fade-img').addClass('on');
    //- });
    //- $('.fade-area').on('mouseleave', function () {
    //-     //== 暫停計時器 ==
    //-     //- clearTimeout(timer);
    //-     //== 清除計時器 ==
    //-     clearInterval(timer);
    //-     $(this).children('img').removeAttr('style');
    //-     $(this).find('.fade-cont,.fade-box').hide();
    //-     //- $(this).find('.fade-img-box').removeAttr('style');
    //-     //- $(this).find('.fade-img').removeClass('on');
    //- });

    //=== 新的 ===
    $('.fade-area').on('mouseenter', function () {
        //- $(this).children('img').css({ 'opacity': 0 });
        //- $(this).find('.fade-cont').show();
        var $itemBox=$(this);
        var fadeImgL=$itemBox.find('.fade-box').length;
        var lastFade=fadeImgL-1;
        if(fadeImgL>1){
            $(this).find('.fade-cont').show();
            var iNow=1;
            $itemBox.find('.fade-box').eq(0).fadeIn(1000);
            timer=setInterval(function(){
                console.log('======');
                console.log(iNow);
                //=== 1.由 iNow:0 且 第一個div開始 ===
                if(iNow==0){
                    $itemBox.find('.fade-box').eq(1).fadeIn(1000);
                    iNow++;
                }else{
                    $itemBox.find('.fade-box').eq(iNow+1).fadeIn(1000);
                    iNow++;
                    if(iNow == fadeImgL){
                        console.log('最後');
                        iNow = 0;
                        $itemBox.find('.cItem').hide();
                        $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
                    }
                }

                //=== OR ===
                //=== 2.由 iNow:1 且 第二個div輪 ===
                //- $itemBox.find('.fade-box').eq(iNow).fadeIn(1000);
                //- iNow++;
                //- if(iNow > fadeImgL){
                //-     console.log('最後');
                //-     iNow = 1;
                //-     $itemBox.find('.cItem').hide();
                //-     $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
                //- }

            },2000);
        }

        //- $itemBox.find('.fade-box').eq(0).fadeIn(1000);
        //- timer=setInterval(function(){
        //-     console.log('1',iNow)
            
        //-     $itemBox.find('.fade-box').eq(iNow).fadeIn(1000);
        //-     iNow++;
        //-     if(iNow > fadeImgL){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
        //-         iNow=1;
        //-         $itemBox.find('.cItem').hide();
        //-         $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
        //-         console.log(lastFade);
        //-         //- $itemBox.find('.fade-box').eq(0).fadeIn(1000);
        //-     }
        //- },2000);
        
    });
    $('.fade-area').on('mouseleave', function () {
        //== 暫停計時器 ==
        //- clearTimeout(timer);
        //== 清除計時器 ==
        clearInterval(timer);
        //- $(this).children('img').removeAttr('style');
        $(this).find('.fade-cont,.fade-box').hide();
        
    });

    //=== 當沒有封面圖的時候 ===
    var timer2;
    $('.fade-box2').each(function(ind,val){
        if(ind!==0){
            $(val).hide();
        }
    });
    $('.fade-cont2').on('mouseenter', function () {
        var $itemBox=$(this);
        var fadeImgL=$itemBox.find('.fade-box2').length;
        var lastFade=fadeImgL-1;
        if(fadeImgL>1){
            var iNow=1;
            $itemBox.find('.fade-box2').eq(1).fadeIn(1000);
            timer2=setInterval(function(){
                console.log('======');
                console.log(iNow);
                if(iNow==0){
                    $itemBox.find('.fade-box2').eq(1).fadeIn(1000);
                    iNow++;
                }else{
                    $itemBox.find('.fade-box2').eq(iNow+1).fadeIn(1000);
                    iNow++;
                    console.log(lastFade);
                    if(iNow == fadeImgL){
                        iNow = 0;
                        console.log('最後');
                        $itemBox.find('.cItem').hide();
                        $itemBox.find('.fade-box2').eq(lastFade).fadeOut(1000);
                    }
                }
            },2000);
        }
    });
    $('.fade-cont2').on('mouseleave', function () {
        //== 暫停計時器 ==
        //- clearTimeout(timer);
        //== 清除計時器 ==
        clearInterval(timer2);
        $('.fade-box2').each(function(ind,val){
            if(ind!==0){
                $(val).hide();
            }else{
                $(val).show();
            }
        });
    });
});</script>

pug/teachers_list.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'師資陣容 - 專任師資'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 FACULTY
                    .page-side
                        h3 師資陣容
                        -const pageSideNav=[{'name':'專任師資','link':'teachers_list.html','isAct':true},{'name':'兼任師資','link':'teachers_pt_list.html'},{'name':'行政人員','link':'staff_list.html'}]
                        +pageSideNavArea(pageSideNav)
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .teacher-list-area
                            -const teacher01={'img':'teacher01.jpg','name':'吳秀菁','cont':'副教授兼系主任','linkTo':1}
                            +teacherListBox(teacher01)
                            -const teacher02={'img':'teacher02.jpg','name':'廖金鳳','cont':'教授','linkTo':1}
                            +teacherListBox(teacher02)
                            -const teacher03={'img':'teacher03.jpg','name':'吳佩慈','cont':'教授','linkTo':1}
                            +teacherListBox(teacher03)
                            -const teacher04={'img':'teacher04.jpg','name':'丁祈方','cont':'副教授','linkTo':1}
                            +teacherListBox(teacher04)
                            -const teacher05={'img':'teacher05.jpg','name':'何平','cont':'副教授','linkTo':1}
                            +teacherListBox(teacher05)
                            -const teacher06={'img':'teacher06.jpg','name':'吳麗雪','cont':'副教授兼副教務長','linkTo':1}
                            +teacherListBox(teacher06)
                            -const teacher07={'img':'teacher07.jpg','name':'林良中','cont':'副教授','linkTo':1}
                            +teacherListBox(teacher07)
                            -const teacher08={'img':'teacher08.jpg','name':'謝嘉錕','cont':'助理教授','linkTo':1}
                            +teacherListBox(teacher08)
                            -const teacher09={'img':'teacher09.jpg','name':'尚宏玲','cont':'講師','linkTo':1}
                            +teacherListBox(teacher09)
                        .fade-area(style={'width': '200px'})
                            img(src="img/teacher01.jpg", alt="")
                            .fade-cont
                                .fade-box
                                    img(src="img/teacher02.jpg", alt="")
                                .fade-box
                                    img(src="img/teacher03.jpg", alt="")
                                .fade-box
                                    img(src="img/teacher04.jpg", alt="")
                                .fade-box
                                    img(src="img/teacher05.jpg", alt="")

                        .fade-cont2
                            .fade-box2
                                img(src="img/teacher01.jpg", alt="")
                            .fade-box2.cItem
                                img(src="img/teacher02.jpg", alt="")
                            .fade-box2.cItem
                                img(src="img/teacher03.jpg", alt="")
                            .fade-box2
                                img(src="img/teacher04.jpg", alt="")
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer
script.
    $(document).ready(function(){
        var timer;
        $('.fade-area').each(function(ind,val){
            var fadeImgL=$(val).find('.fade-box').length;
            var lastFade=fadeImgL-1;
            $(val).find('.fade-box').each(function(ind,val){
                $(val).addClass('cItem');
                if(ind==0){
                    $(val).removeClass('cItem');
                }else if(ind==lastFade){
                    $(val).removeClass('cItem');
                }
            });
        });
        //=== 舊的 ===
        //- $('.fade-area').on('mouseenter', function () {
        //-     $(this).children('img').css({ 'opacity': 0 });
        //-     $(this).find('.fade-cont').show();
        //-     var $itemBox=$(this);
        //-     var iNow=1;
        //-     //- $('#test').find('.img').eq(0).show();
        //-     $itemBox.find('.fade-box').eq(0).fadeIn(1000);
        //-     //- $(this).find('.img').eq(iNow).addClass('fade1');
        //-     //- $(this).find('.img').eq(iNow+1).addClass('fade2');
        //-     timer=setInterval(function(){
        //-         console.log('1',iNow)
        //-         //- if(iNow!==1){
        //-         //- //- 	$('#test').find('.img').eq(0).show();
        //-         //- //- }
        //-         //- //- else{
        //-         //- 	$('#test').find('.img').eq(0).hide();
        //-         //- }
        //-         $itemBox.find('.fade-box').eq(iNow).fadeIn(1000);
        //-         iNow++;
        //-         var fadeImgL=$itemBox.find('.fade-box').length;
        //-         var lastFade=fadeImgL-1;
        //-         if(iNow > fadeImgL){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
        //-             iNow=1;
        //-             $itemBox.find('.cItem').hide();
        //-             $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
        //-             console.log(lastFade);
        //-             $itemBox.find('.fade-box').eq(0).fadeIn(1000);
        //-         }
        //-     },2000);
        //-     //- timer2=setInterval(function(){
        //-     //- 	console.log('2',iNow)
        //-     //- 	$('#test').find('.img').eq(iNow).fadeOut(500);
        //-     //- 	iNow2=iNow2+2;
        //-     //- },4000);
        //-     //- $(this).find('.img').eq(iNow).addClass('on');
        //-     //- changeDataAni();
        //-     //- timer=setInterval(function(){ //打开定时器
        //-     //- 	//- iNow++;  //让图片的索引值次序加1，这样就可以实现顺序轮播图片
        //-     //- 	//- if(iNow>showNumber.length-1){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
        //-     //- 	//- 	iNow=0;
        //-     //- 	//- }
        //-     //- 	//- showNumber.eq(iNow).trigger("click"); //模拟触发数字按钮的click
        //-     //- },2000); //2000为轮播的时间
        //-     //- $(this).find('.fade-img-box,.fade-img').show();
        //-     //- $(this).find('.fade-img').addClass('on');
        //- });
        //- $('.fade-area').on('mouseleave', function () {
        //-     //== 暫停計時器 ==
        //-     //- clearTimeout(timer);
        //-     //== 清除計時器 ==
        //-     clearInterval(timer);
        //-     $(this).children('img').removeAttr('style');
        //-     $(this).find('.fade-cont,.fade-box').hide();
        //-     //- $(this).find('.fade-img-box').removeAttr('style');
        //-     //- $(this).find('.fade-img').removeClass('on');
        //- });

        //=== 新的 ===
        $('.fade-area').on('mouseenter', function () {
            //- $(this).children('img').css({ 'opacity': 0 });
            //- $(this).find('.fade-cont').show();
            var $itemBox=$(this);
            var fadeImgL=$itemBox.find('.fade-box').length;
            var lastFade=fadeImgL-1;
            if(fadeImgL>1){
                $(this).find('.fade-cont').show();
                var iNow=1;
                $itemBox.find('.fade-box').eq(0).fadeIn(1000);
                timer=setInterval(function(){
                    console.log('======');
                    console.log(iNow);
                    //=== 1.由 iNow:0 且 第一個div開始 ===
                    if(iNow==0){
                        $itemBox.find('.fade-box').eq(1).fadeIn(1000);
                        iNow++;
                    }else{
                        $itemBox.find('.fade-box').eq(iNow+1).fadeIn(1000);
                        iNow++;
                        if(iNow == fadeImgL){
                            console.log('最後');
                            iNow = 0;
                            $itemBox.find('.cItem').hide();
                            $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
                        }
                    }

                    //=== OR ===
                    //=== 2.由 iNow:1 且 第二個div輪 ===
                    //- $itemBox.find('.fade-box').eq(iNow).fadeIn(1000);
                    //- iNow++;
                    //- if(iNow > fadeImgL){
                    //-     console.log('最後');
                    //-     iNow = 1;
                    //-     $itemBox.find('.cItem').hide();
                    //-     $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
                    //- }

                },2000);
            }

            //- $itemBox.find('.fade-box').eq(0).fadeIn(1000);
            //- timer=setInterval(function(){
            //-     console.log('1',iNow)
                
            //-     $itemBox.find('.fade-box').eq(iNow).fadeIn(1000);
            //-     iNow++;
            //-     if(iNow > fadeImgL){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
            //-         iNow=1;
            //-         $itemBox.find('.cItem').hide();
            //-         $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
            //-         console.log(lastFade);
            //-         //- $itemBox.find('.fade-box').eq(0).fadeIn(1000);
            //-     }
            //- },2000);
            
        });
        $('.fade-area').on('mouseleave', function () {
            //== 暫停計時器 ==
            //- clearTimeout(timer);
            //== 清除計時器 ==
            clearInterval(timer);
            //- $(this).children('img').removeAttr('style');
            $(this).find('.fade-cont,.fade-box').hide();
            
        });

        //=== 當沒有封面圖的時候 ===
        var timer2;
        $('.fade-box2').each(function(ind,val){
            if(ind!==0){
                $(val).hide();
            }
        });
        $('.fade-cont2').on('mouseenter', function () {
            var $itemBox=$(this);
            var fadeImgL=$itemBox.find('.fade-box2').length;
            var lastFade=fadeImgL-1;
            if(fadeImgL>1){
                var iNow=1;
                $itemBox.find('.fade-box2').eq(1).fadeIn(1000);
                timer2=setInterval(function(){
                    console.log('======');
                    console.log(iNow);
                    if(iNow==0){
                        $itemBox.find('.fade-box2').eq(1).fadeIn(1000);
                        iNow++;
                    }else{
                        $itemBox.find('.fade-box2').eq(iNow+1).fadeIn(1000);
                        iNow++;
                        console.log(lastFade);
                        if(iNow == fadeImgL){
                            iNow = 0;
                            console.log('最後');
                            $itemBox.find('.cItem').hide();
                            $itemBox.find('.fade-box2').eq(lastFade).fadeOut(1000);
                        }
                    }
                },2000);
            }
        });
        $('.fade-cont2').on('mouseleave', function () {
            //== 暫停計時器 ==
            //- clearTimeout(timer);
            //== 清除計時器 ==
            clearInterval(timer2);
            $('.fade-box2').each(function(ind,val){
                if(ind!==0){
                    $(val).hide();
                }else{
                    $(val).show();
                }
            });
        });
    });
